{%extends 'base.html' %}
{%block content%}
<main role="main">

    <div id="myCarousel" class="carousel slide" data-ride="carousel" style="height:60%;">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img class="first-slide img border-bottom border border-white" src={{url_for("static",filename="images/recipes.jpg")}} alt="First slide">
                <div class="container">
                    <div class="carousel-caption text-center">
                        <h1 class=" text-center">Desert</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->
    <div class="row" style="margin:0% 20% 20% 20%">
        {%for data in data%}
        <div class="col-lg-4 col-md-6 mb-4 mb-lg-0">
            <a  data-toggle="modal" data-target="#exampleModalCenter{{data.id}}">
                <div class="card">
                    <img class="card-img-top" src="static/images/{{data.image}}" alt="Card image cap">
                    <div class="card-body">
                        <p class="card-text textcenter">{{data.name[0:45]}}..</p>
                    </div>

                </div>
            </a>

        </div>

        <div class="modal fade bd-example-modal-lg" id="exampleModalCenter{{data.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                <div class="modal-content" style="background-image: url('static/images/popup.jpg');">
                    <div class="modal-header">
                        <!--              <h5 class="modal-title " id="exampleModalLongTitle">Our Favourite</h5>-->
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-md-4" style="color:white;">
                                    <div class="card">
                                        <img class="card-img-top" src="static/images/{{data.image}}" alt="Card image cap">

                                    </div>
                                    <h3>Posted by</h3>
                                    <p>{{data.username}}</p>
                                </div>


                                <div class="col-md-7 ml-auto" style="color:white;">
                                    <h3>Title</h3>
                                    <p>{{data.name}}</p>

                                    <h3>Instruction</h3>
                                    <p>{{data.instruction}}</p>
                                    <h3>Ingredient</h3>
                                    <p>{{data.ingredients}}</p>

                                    <h3>time</h3>
                                    <p>{{data.clocktime}}</p>






                                </div>


                            </div>
                        </div>




                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-outline-light btn-outline-success my-2 my-sm-0" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>

        {%endfor%}
    </div>
    {%endblock%}
    <!-- Bootstrap core JavaScript
    ================================================== --