<!-- Page Header -->
<header class="masthead" style="background-image: url(../static/img/sign-in.jpeg)">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <div class="site-heading">
                    <h1>Sign in to add your own recipe!</h1>
                </div>
            </div>
        </div>
    </div>
</header>


{% extends "base.html" %} 
{% block content %} 
    <h1>Sign In</h1>
{% endblock %} 

